// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category-box .h6 {
  background: #dedede;
  padding: 5px 12px;
  border-radius: 6px;
}

.subcat {
  margin-left: 10px;
}

.post-date {
  color: #999;
}

.post-title {
  color: #999;
}